@charset "utf-8";
/* CSS Document */
body {background: #fcf3cd}
.fondoheader{
    background-image: url("La Gran Francia-assets/fondoheader.png");
    position: absolute;
    left: 9px;
    top: 109px;
    width: 1934px;
    height: 1297px;
    z-index: 23;
}
.logohotel{
  background-image: url("La Gran Francia-assets/logohotel.png");
  position: absolute;
  left: 428px;
  top: 204px;
  width: 1112px;
  height: 367px;
  z-index: 24;
}

.contenedor{
	width: 980px;
	margin: 0 auto;
	/*border: 1px solid red;*/

}

.encabezado{
    background: #592120;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #070707;
    position: relative;
    margin-left: -3px;
    margin-right: -130px;
}



.encabezado nav{
	float: right;
}
.encabezado nav ul{
   margin-top:0;
    padding: 0;
    list-style: none;
}
.encabezado nav ul li{
	display: inline-block;
	
}
.encabezado nav ul li a{
	display: block;
	color: #F6E4C6;
	padding: 28px 60px;
	border-left: 0px solid ;
	text-decoration: none;
}
.encabezado nav ul li a{
 font-size: 19px;
  font-family: "Candara";
font-weight: bold;

}
.encabezado nav ul li a:hover{
	background:#575757;

}

.mesa{
  position: absolute;
  left: 1005px;
  top: 1020px;
  z-index: 9;

}

.mesa h1{
    font-size: 50px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    margin-left: -549px;
    width: 162px;
    height: 33px;
    z-index: 23;
    margin-top: -604px;
}

.mesa p{
    font-size: 44px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    line-height: 1.2;
    position: absolute;
    margin-top: -463px;
    margin-left: -758px;
    width: 630px;
    height: 463px;
    z-index: 22;
}
.forma{
    position: absolute;
    left: 384px;
    top: 1300px;
    width: 1664px;
    height: 12px;
    z-index: 11;
}

.eventos{
font-size: 50px;
  font-family: "Candara";
  color: rgb(93, 49, 42);
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 244.365px;
  top: 1770.034px;
  width: 760px;
  height: 47px;
  z-index: 24;

}

.bodas{
  position: absolute;
  left: 331px;
  top: 1885px;
  z-index: 25;

}
.seminarios{
 position: absolute;
  left: 609px;
  top: 2065px;
  z-index: 26;

}
.almuerzos{
	position: absolute;
  left: 914px;
  top: 1897px;
  z-index: 27;

}

.reuniones{
  position: absolute;
  left: 1157px;
  top: 2100px;
  z-index: 28;

}
.cumpleanos{
  position: absolute;
  left: 1520px;
  top: 1902px;
  z-index: 29;

}
/*---------------------------------
PIE DE PAGINA
------------------------------------*/
.piedepagina{
	background-color: rgb(247, 185, 66);
    position: absolute;
    left: -1622px;
    top: 2291px;
    width: 3552px;
    height: 223px;
    z-index: 4;
}

.piedepagina .contenedor{
	display: block;
}
.piedepagina p{
    float: inherit;
    font-size: 19px;
    text-align: center;
    margin-right: -462px;
    margin-left: 1196px;
    letter-spacing: 0px;
    font-weight: bold;
    transition: all 0.3s linear;
    margin-top: 58px;
}
.contenedor p{
	font-family: "Candara";
  color: rgb(93, 49, 42);
}
