@charset "utf-8";
/* CSS Document */
body {background: #fcf3cd}
.fondoheader{
    background-image: url("La Gran Francia-assets/fondoheader.png");
    position: absolute;
    left: 9px;
    top: 109px;
    width: 1934px;
    height: 1297px;
    z-index: 23;
}
.logohotel{
  background-image: url("La Gran Francia-assets/logohotel.png");
  position: absolute;
  left: 428px;
  top: 204px;
  width: 1112px;
  height: 367px;
  z-index: 24;
}

.contenedor{
	width: 980px;
	margin: 0 auto;
	/*border: 1px solid red;*/

}

.encabezado{
    background: #592120;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #070707;
    position: relative;
    margin-left: -3px;
    margin-right: -130px;
}



.encabezado nav{
	float: right;
}
.encabezado nav ul{
   margin-top:0;
    padding: 0;
    list-style: none;
}
.encabezado nav ul li{
	display: inline-block;
	
}
.encabezado nav ul li a{
	display: block;
	color: #F6E4C6;
	padding: 28px 60px;
	border-left: 0px solid ;
	text-decoration: none;
}
.encabezado nav ul li a{
 font-size: 19px;
  font-family: "Candara";
font-weight: bold;

}
.encabezado nav ul li a:hover{
	background:#575757;

}



.texto p{
  font-size: 40px;
  font-family: "Candara";
  color: rgb(93, 49, 42);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 948px;
  top: 952.227px;
  width: 802px;
  height: 471px;
  z-index: 12;
}
.balcon{
    position: absolute;
    left: 38px;
    top: 958px;
   width: 620px;
  height: 320px;
    z-index: 13;
}

.forma{
    position: absolute;
    left: 384px;
    top: 1345px;
    width: 1664px;
    height: 12px;
    z-index: 11;
}

.cama{
    position: absolute;
    left: 47px;
    top: 2048px;
    width: 393px;
    z-index: 9;
}
.cuarto{
    position: absolute;
    left: 694px;
    top: 2053px;
    z-index: 10;
}
.habitacion{
    margin-left: 746px;
    margin-top: -724px;
    z-index: 11;
}

.cama h1{
    font-size: 37px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin-left: 34px;
    width: 350px;
    height: 35px;
    z-index: 31;
    left: 766.853px;
    margin-top: 115px;
}

.cuarto h1{
    font-size: 37px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin-left: -668px;
    idth: 350px;
    height: 35px;
    z-index: 30;
    margin-bottom: 7px;
    margin-top: 115px;
}
.habitacion h1{
    font-size: 37px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    margin-left: 31px;
    width: 350px;
    height: 35px;
    z-index: 29;
}
.txbal{
    font-size: 37px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 43.53px;
    top: 2533.32px;
    width: 420px;
    height: 209px;
    z-index: 9;
}

.txcuart{
    font-size: 37px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    line-height: 1.2;
    text-align: center;
    margin-left: 35px;
    width: 420px;
    height: 209px;
    z-index: 28;
    margin-top: 79px;
}

.txhabit{
    font-size: 37px;
    font-family: "Candara";
    color: rgb(93, 49, 42);
    line-height: 1.2;
    text-align: center;
    margin-left: 746px;
    width: 420px;
    height: 209px;
    z-index: 27;
    margin-top: 85px;
}
.piedepagina{
    background-color: rgb(247, 185, 66);
    position: absolute;
    left: -2012px;
    top: 2291px;
    z-index: 4;
    width: 3251px;
    height: 170px;
}

.piedepagina .contenedor{
	display: block;
}
.piedepagina p{
    float: inherit;
    font-size: 19px;
    text-align: center;
    margin-right: -462px;
    margin-left: 840px;
    letter-spacing: 0px;
    font-weight: bold;
    transition: all 0.3s linear;
    margin-top: 58px;
}
.contenedor p{
	font-family: "Candara";
  color: rgb(93, 49, 42);
}
